header{
  background-color: #000;
  margin: 0px 0px 15px 0px;
}
.navHeader{
  padding: 4px 0px;
}
.navHeader a{
  color: white;
  font-size: 14px;
  padding: 0px 10px 0px 0px;
  font-weight: 100;
}


a{
  cursor: pointer;
}
a.curr{
  font-weight: bold;
  text-decoration: underline;
}

.commentEntry,
.postEntry{
  margin: 5px 0px 15px 0px;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  width: 100%;
}
.postBody{
  white-space: pre-line;
}
.commentEntry.edit{
  padding: 19px 0px;
}

.commentContent,
.postContent{
  flex-grow: 1;
  vertical-align: top;
  font-size: 14px;
  line-height: 16px;
}
.postContent h4{
  margin: 0px 0px 0px 0px;
  font-size: 20px;
  line-height: 22px;
}
.commentBody{
  font-size: 16px;
  white-space: pre-line;
}

.voteScore{
  text-align: center;
  width: 40px;
  vertical-align: top;
  line-height: 14px;
  font-size: 14px;
}
.voteScore .score{
  line-height: 18px;
  font-size: 18px;
  margin: 2px 0px 2px 0px;
}
.voteScore a{
  font-weight: bold;
  text-decoration: none !important;
}


.sort-well{
  font-size: 14px;
  padding: 0px 0px 0px 19px;
  line-height: 29px;
}

.btn-group{
  margin: 5px 0px;
}
